@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --bs-font-family: "Manrope", sans-serif;
  --bs-font-size: 1rem;
  --bs-font-weight: 400;
  --bs-line-height: 1.5;
  --bs-color: #B71C1C;
}

body {
  margin: 0;
  font-family: var(--bs-font-family);
  font-size: var(--bs-font-size);
  font-weight: var(--bs-font-weight);
  line-height: var(--bs-line-height);
  color: var(--bs-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem;
  font-family: var(--bs-font-family);
  line-height: 1.2;
}

h1 {
  font-size: calc(3rem + 5vw); /* Tamaño de texto impactante */
  font-weight: 600; /* Mantiene un buen peso */
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina relleno predeterminado */
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 90vh; /* Ocupa el 90% de la pantalla */
}



h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 600;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 600;
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

